@use '../custom'as *;


.single{
    
    padding: 7rem 8rem 9rem 8rem!important;
    @include media-breakpoint-down(xl) {
        padding: 12rem 4rem !important;
    }

    &-content{
  padding: 1rem 3rem !important;
    border-radius: 30px;
    position: relative;
   
   background-color: $white;
   

    // @include glasslayer;
        &-img{
        width: 100%;
            
             display: flex;
             justify-content: center;
              
            margin-bottom: 4rem !important;
              background-color: transparent;
        
              img{  
                 border-radius: 30px;
                   height:15rem;
                   width:15rem;
                  object-fit: cover;
              }

        }
        &-info{
            display: grid;
            display: -ms-grid;
            grid-template-columns: repeat(2,1fr);
            -ms-grid-columns:repeat(2, 1fr);
            gap: 4rem;
            margin-bottom: 3rem !important;
            &-det{
                // @include glasslayer2;
                background-color: $white;
                border-radius: 30px;
                padding: 3rem 2rem !important;
                label{
                     font-size: 1.125rem;
                     font-weight: 500;
                    color: $third-color;
                    margin-bottom: 0.25rem !important;
                     @include media-breakpoint-down(md) {
                        display: flex;
                        justify-content: center;

             
            }
                    
                }
                h6{
                       @include media-breakpoint-down(md) {
                        display: flex;
                        justify-content: center;

             
            }
                    color: $black;
                    
                }
            }

            @include media-breakpoint-down(md) {
             display: grid;
             display: -ms-grid;
             grid-template-columns: 1fr;
             -ms-grid-columns:1fr;

             
            }
        }

        .desc-container{
            //   @include glasslayer2;
             background-color: $white;
              border-radius: 30px;
              padding: 3rem 2rem !important;
              text-align: justify;
            label{
                font-size: 1.125rem ;
                color: $third-color;
                font-weight: 500;
                margin-bottom: 0.25rem !important;
            }
            h6{
                color: $black;
                line-height: 1.5rem !important;
            }
        }
    }



}