@use '../custom'as * ;


.side-bar{
    
    height: 100%;
    padding: 9em 6.2em 7em 6.2em !important;
//    @include generalBorder;
    .logo-tokyo{
        margin-bottom: 5em !important;
        img{
            max-width: 100%;
            display: flex;  
        }
       

         @include media-breakpoint-down(xl) { 
                margin-bottom: 0 !important;
                img{
                   max-width: 80px;
                }
            



         }

    }


    &-items{
       
     
        .item:not(:last-child)
        {
            margin-right: 1rem !important;
        }

        .item{
            cursor: pointer;
            margin-bottom: 1rem !important;
            display: flex;
            a{
                display: flex;
                color:$black !important ;
                text-transform: capitalize;
                transition: .4s ease;
                 .icon{
                      margin-right: .725rem !important;
                 }
                 h6{
                        font-weight: bolder !important;
                 }
                &:hover{
                     @include fontTransition;
                     
                     
                }
            }
        }


        @include media-breakpoint-down(xl) {
           
            
          
          
  
            .item {
               transform: translateX(50%);
                   
                   
                    margin-bottom: 0 !important;

                    a {

                        h6 {
                            display: none;
                        }
                    }
               
            }
  
        }
    }

    .footer{
        margin-top: 6em !important;
        color: $black !important;
        &-content{
            h6{
                font-size: .95rem;
            }
            p{
                font-size: .9rem;
                font-style: italic;
                font-weight: 500;
                
                span{
                    font-size: 1.12rem;
                    transition: .4s ease;
                    cursor: pointer;
                    font-weight: 500;
                    &:hover{
                            @include fontTransition;
                            letter-spacing: 2px;
                           
                    }

                }
            }
        }

        @include media-breakpoint-down(xl) {
            display: none;
        }
    }


     @include media-breakpoint-down(xl) {
         padding: .5em 2em !important;
     }

}


   
.active {
    letter-spacing: 3px;
    
    

        h6 {
            color: $title-menu-color !important;
        }

      

                    
                       
                            

                            
                                .icon{

                                    color:$title-menu-color !important;
                                }
                            
                                
                        

                    
       
        
    
    
}



